<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ExIt - Exchange It</title>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="Logo" width="40">ExIt</a>
            <a class="btn btn-primary" href="#signup">Sign Up</a>
        </div>
    </nav>
    <br>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center col-xl-6 text-center">
                <h1 class="mb-5">Welcome to your new Dickinson Buy & Sell!</h1>
                <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="h-100 text-center text-lg-end my-auto">
                    <a href="/" class="text-decoration-none text-muted me-3">About</a>
                    <a href="/" class="text-decoration-none text-muted me-3">Contact</a>
                    <a href="/" class="text-decoration-none text-muted">Privacy</a>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; 2025 ExIt. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>