{% extends "base.html" %}



{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-dismissible fade show 
                    {% if category == 'error' %}
                        alert-danger
                    {% else %}
                        alert-success
                    {% endif %}" 
                    role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
{% endwith %}
<!-- Main body-->
<div class="masthead text-white text-center" 
    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/background.jpg') no-repeat center center; background-size: cover; min-height: 100vh; display: flex; align-items: center;">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1 class="mb-4">Welcome to your new<br><span class="text-danger fw-bold">Dickinson</span> Buy & Sell!</h1>
                <!--<p class="lead mb-5">The safest and most convenient way to buy and sell items within the Dickinson community.</p>-->                   
                <form class="row justify-content-center" action="/search" method="GET">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for items..."
                                aria-label="Search" aria-describedby="basic-addon2" name="search" value="{{ request.args.get('search', '') }}">
                            <button class="btn btn-danger" type="submit" style="border-radius: 8;">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}